<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Erro</h1>
        <h2>Ocorreu um erro na chamada da página</h2>
      <h4>
        Verifique se está logado e se seu perfil pode acessar a página desejada.
        
      </h4>
    </hgroup>
</body>
</html>
