@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Portal Trabalhos</h1>
	<p class="lead">Portal Trabalhos é a ferramenta que alunos possam postar seus trabalhos e professores possam solicitar novos exercicios</p>
	<p>@Html.ActionLink("Login", "Login", "Home", htmlAttributes: new { @class = "btn btn-success btn-sm" })</p>
</div>
