@model Portal.Models.Disciplina

@{
  ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<table>
    <h4>Disciplina</h4>
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayFor(model => model.nome)
            </th>
            <th></th>
        </tr>

    </table>
    <table>
        <h4>Alunos</h4>
        <table class="table">
            @foreach (var x in Model.Alunos)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => x.nome)
                </td>
                <th></th>
            </tr>
            }
        </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.coddisciplina }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
