
@{
  ViewBag.Title = "Portal Professor";
}

<h2>Portal Professor</h2>
<hr />
   
    <div>
        <h4>Trabalhos</h4>
        <p>
            @Html.ActionLink("Ver todos os Trabalhos", "Trabalhos", "Trabalhoes") | 
            @Html.ActionLink("Ver suas Disciplinas", "Disciplinas", "Professor")
        </p>
        

    </div>